* {
  margin: 0;
  padding: 0;
}

.user>p {
  margin-top: 50px;
  color: #F7FED8;
  font-size: 1.5rem;
}

main {
  display: flex;

}


#userbtn {
  padding: 0.9rem;
  margin-top: 50px;
  font-size: 1rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.left,
.right {
  height: 100vh;
  width: 25vw;
  background-color: #FFFFC7;
  text-align: center;
  font-size: 40px;
  font-weight: bold;

}

#p1name,#p2name {
  
  height: 10vh;
  display: flex;
  margin-top: 38vh;
  font-size: 30px;
  color: #548687;
  justify-content: center;
}



input {
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  border: none;
  height: 1.5rem;
  cursor: text;
  background-color: #f0fac2;
}

body {
  background-color: #548687;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  width: 60vw;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
  background-color: #ffffc7;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}
